<form>
    <div class="form-group row">
      <label for="Name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="name" name="Name" class="form-control" id="name" placeholder="Name" [(ngModel)]="recipeName">
      </div>
    </div>
    <div class="form-group row">
      <label for="ShortDescription" class="col-sm-2 col-form-label">ShortDescription</label>
      <div class="col-sm-10">
        <input type="ShortDescription" name="ShortDescription" class="form-control" id="ShortDescription" placeholder="ShortDescription" [(ngModel)]="shortDescription">
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Meal Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" [(ngModel)] = "selectedMealType" type="radio" name="gridRadios" id="gridRadios1" value="MainCourse">
            <label class="form-check-label" for="gridRadios1">Main Course</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)] = "selectedMealType" type="radio" name="gridRadios" id="gridRadios2" value="Beverage">
            <label class="form-check-label" for="gridRadios2">Beverage</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)] = "selectedMealType" type="radio" name="gridRadios" id="gridRadios3" value="snack">
            <label class="form-check-label" for="gridRadios3">Snack</label>
          </div>
        </div>
      </div>
    </fieldset>
    <label for="Name" class="col-sm-2 col-form-label">Main Ingredients</label>
      <div class="col-sm-10">
        <input type="name" name="samagri" class="form-control" [(ngModel)] = "ingredientsList" id="name" placeholder="Ingredients">
      </div>
    <div class="form-group row">
      <div class="col-sm-2">Food Type</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" name="random1" value="Vegan" (change)="updateSelectedFoodPreference($event)" type="checkbox"  id="one">
          <label class="form-check-label" for="gridCheck1">
            Vegan
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" value="Veg" (change)="updateSelectedFoodPreference($event)" type="checkbox" name="random2" id="two">
            <label class="form-check-label" for="gridCheck1">
              Veg
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" value="NonVeg" (change)="updateSelectedFoodPreference($event)" type="checkbox" name="random3" id="three">
            <label class="form-check-label" for="gridCheck1">
              Non-Veg
            </label>
        </div>
          <div class="form-check">
            <input class="form-check-input" value="Egg" (change)="updateSelectedFoodPreference($event)" type="checkbox" name="random4" id="four">
            <label class="form-check-label" for="gridCheck1">
              Egg
        </label>
          </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" (click)="onSave()" name="buttonsave" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>