<form>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
          <label for="inputCity">Age</label>
          <input type="text" class="form-control" id="Age">
        </div>
        <div class="form-group col-md-2">
          <label for="inputState">Sex</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>Male</option>
            <option>Female</option>
            <option>Transgender</option>
ß         </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Height</label>
          <input type="Height" class="form-control" id="inputZip" placeholder="Height in cms">
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Weight</label>
            <input type="Weight" class="form-control" id="inputZip" placeholder="Weight in kg">
          </div>
      </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              First radio
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Second radio
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
            <label class="form-check-label" for="gridRadios3">
              Third disabled radio
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-2">Checkbox</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
          <label class="form-check-label" for="gridCheck1">
            Example checkbox
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="save" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>